.u-section-1 .u-sheet-1 {
  min-height: 531px;
}

.u-section-1 .u-text-1 {
  margin: 16px auto 0 106px;
}

.u-section-1 .u-text-2 {
  margin: 17px 27px 0 586px;
}

.u-section-1 .u-image-1 {
  width: 464px;
  height: 300px;
  margin: -115px auto 60px 106px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 28px;
    margin-left: 413px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -86px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 220px;
    margin-top: -115px;
    margin-left: 0;
  }
}